<a href="https://colab.research.google.com/github/DaanMoura/AprendizadoDeMaquina/blob/main/AM1_SpotifyData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aprendizado de Máquina 1 - Trabalho 1

In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
spotify = pd.read_csv("https://raw.githubusercontent.com/DaanMoura/AprendizadoDeMaquina/main/data/data.csv")

spotify.head()

   valence  year  acousticness  ... release_date  speechiness    tempo
0   0.0594  1921         0.982  ...         1921       0.0366   80.954
1   0.9630  1921         0.732  ...         1921       0.4150   60.936
2   0.0394  1921         0.961  ...         1921       0.0339  110.339
3   0.1650  1921         0.967  ...         1921       0.0354  100.109
4   0.2530  1921         0.957  ...         1921       0.0380  101.665

[5 rows x 19 columns]

In [3]:
spotify.describe()

             valence           year  ...    speechiness          tempo
count  170653.000000  170653.000000  ...  170653.000000  170653.000000
mean        0.528587    1976.787241  ...       0.098393     116.861590
std         0.263171      25.917853  ...       0.162740      30.708533
min         0.000000    1921.000000  ...       0.000000       0.000000
25%         0.317000    1956.000000  ...       0.034900      93.421000
50%         0.540000    1977.000000  ...       0.045000     114.729000
75%         0.747000    1999.000000  ...       0.075600     135.537000
max         1.000000    2020.000000  ...       0.970000     243.507000

[8 rows x 15 columns]

In [8]:
df = spotify.sample(frac=0.2)
df = df.drop(["id","name", "release_date"], axis=1)

df.head(10)

        valence  year  acousticness  ... popularity  speechiness    tempo
128146    0.924  1956      0.648000  ...          7       0.0682  173.501
51722     0.413  1992      0.000046  ...         48       0.0882  184.482
27299     0.369  1963      0.996000  ...         32       0.0466   68.802
152305    0.367  2003      0.000161  ...         42       0.0693  170.088
113934    0.415  1965      0.316000  ...         32       0.0405  109.084
74526     0.110  2017      0.060700  ...         64       0.0482  105.027
120835    0.294  2017      0.025400  ...          0       0.0354  112.371
25250     0.294  1953      0.893000  ...          8       0.0313   82.507
18290     0.862  2013      0.042600  ...         77       0.0380  116.047
129304    0.681  1962      0.433000  ...         12       0.1530  117.003

[10 rows x 16 columns]

In [9]:
df.describe()

            valence          year  ...   speechiness         tempo
count  34131.000000  34131.000000  ...  34131.000000  34131.000000
mean       0.528895   1976.759749  ...      0.098667    116.921749
std        0.263808     25.992240  ...      0.163433     30.742528
min        0.000000   1921.000000  ...      0.000000      0.000000
25%        0.316000   1956.000000  ...      0.035000     93.438000
50%        0.538000   1977.000000  ...      0.045300    114.640000
75%        0.749000   1999.000000  ...      0.076400    135.738000
max        0.989000   2020.000000  ...      0.968000    221.058000

[8 rows x 15 columns]

In [10]:
to_predict = "artists"
X = df.drop([to_predict], axis=1)
y = df[to_predict]

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [11]:
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [12]:
accuracy_score(y_test, tree.predict(X_test))

0.08051095745927575

In [15]:
X_test

        valence  year  acousticness  ...  popularity  speechiness    tempo
121086    0.241  2001        0.0656  ...          40       0.0359  158.000
1960      0.380  1931        0.5890  ...           0       0.9600   82.677
15936     0.688  2001        0.1610  ...          58       0.1790  184.028
16430     0.348  2004        0.0177  ...          75       0.1710  134.724
82982     0.518  1973        0.3850  ...          34       0.0316  126.784
...         ...   ...           ...  ...         ...          ...      ...
96287     0.928  1958        0.9300  ...          18       0.0425  105.234
119098    0.306  1991        0.6580  ...          32       0.0356  130.289
109886    0.689  1945        0.9890  ...           0       0.0640  111.477
149870    0.114  1991        0.9810  ...          30       0.0539  142.106
161518    0.124  1974        0.0917  ...          22       0.0736  179.900

[8533 rows x 15 columns]

In [17]:
y_test

121086                   ['Third Day']
1960             ['Эрих Мария Ремарк']
15936                     ['Kid Rock']
16430                     ['Slipknot']
82982     ['Electric Light Orchestra']
                      ...
96287                  ['Chuck Berry']
119098                 ['Jackopierce']
109886        ['Chapuseaux y Damirón']
149870              ['George Winston']
161518                 ['Miles Davis']
Name: artists, Length: 8533, dtype: object

In [38]:
results = np.array([y_test.values, tree.predict(X_test)]).T
pd.DataFrame(results)

                                 0                                                  1
0                    ['Third Day']                                    ['The Moments']
1            ['Эрих Мария Ремарк']                              ['Эрих Мария Ремарк']
2                     ['Kid Rock']  ['DJ Khaled', 'Ace Hood', 'Akon', 'Plies', 'Tr...
3                     ['Slipknot']                                 ['Kelly Clarkson']
4     ['Electric Light Orchestra']                                 ['Lynyrd Skynyrd']
...                            ...                                                ...
8528               ['Chuck Berry']                                  ['The Cadillacs']
8529               ['Jackopierce']                               ['Jonathan Richman']
8530      ['Chapuseaux y Damirón']  ['Francisco Canaro', 'Eduardo Adrian', 'Carlos...
8531            ['George Winston']              ['Francisco Tárrega', 'Julian Bream']
8532               ['Miles Davis']  ['Pyotr Ilyich Tchaikovsky', 'André Previn', '...

[8533 rows x 2 columns]