<a href="https://colab.research.google.com/github/DaanMoura/AprendizadoDeMaquina/blob/main/MovieDataset_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [309]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import copy

In [310]:
dataset = pd.read_csv("https://raw.githubusercontent.com/DaanMoura/AprendizadoDeMaquina/main/data/movies.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [311]:
def get_date_year(date_column):
  try:
    return date_column.split('-')[0]
  except:
    return -1

def get_date_month(date_column):
  try:
    return date_column.split('-')[1]
  except:
    return -1

In [312]:
dataset['release_year'] = pd.Series(list(map(get_date_year, dataset["release_date"].tolist())))
dataset['release_month'] = pd.Series(list(map(get_date_month, dataset["release_date"].tolist())))

In [313]:
dataset.drop(["adult", "belongs_to_collection", "homepage", "id", "imdb_id", "original_title", "overview", "poster_path", "tagline", "title", "video","spoken_languages","release_date"], axis=1,inplace=True)
df = dataset.copy()

In [314]:
def get_first(o):
  try:
    return o.split(',')[0].split(':')[1].strip().strip("'")
  except:
    return -1

In [315]:
def get_first_number(o):
  try:
    id = o.split(',')[0].split(':')[1].strip().strip("'")
    if str(id).isnumeric():
      return id
    else:
      return -1
  except:
    return -1

In [316]:
pd.set_option('display.max_colwidth', -1)
df["production_companies"] = pd.Series(list(map(get_first, df["production_companies"].tolist())))
df["production_countries"] = pd.Series(list(map(get_first, df["production_countries"].tolist())))
df["genres"] = pd.Series(list(map(get_first_number, df["genres"].tolist())))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

In [317]:
colunas = ["original_language","production_companies","production_countries"]

In [318]:
labels, levels = pd.factorize(df['production_companies'])

In [319]:
string_columns = ['original_language','production_companies','production_countries','status']

for column in string_columns:
  labels, levels = pd.factorize(df[column])
  df[column] = labels

In [320]:
df = df.apply(pd.to_numeric, errors='coerce')
df = df.fillna(-1)

In [321]:
#separa o alvo e os dados
Y = df["vote_average"]
for i in range(len(Y)):
  if Y[i] < 2:
    Y[i] = "Muito Ruim"
  elif Y[i] < 4:
    Y[i] = "Ruim"
  elif Y[i] < 6:
    Y[i] = "Mediano"
  elif Y[i] < 8:
    Y[i] = "Bom"
  else:
    Y[i] = "Muito Bom"

X = df.drop(["vote_average"], axis = 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [322]:
#/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg'
dataset.drop([29503],axis=0,inplace=True)

In [323]:
#separa em teste e treino
x_tr, x_te, y_tr, y_te = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [324]:
x_tr

          budget  genres  ...  release_year  release_month
41712  0.0        18      ...  2016          3
25646  8500000.0  10751   ...  2014          12
29596  0.0        36      ...  2014          10
4526   0.0        18      ...  1989          8
41710  0.0        10749   ...  2015          1
...    ...          ...   ...   ...         ..
11284  0.0        18      ...  1983          1
44732  0.0        16      ...  1916          10
38158  0.0        53      ...  1974          3
860    0.0        18      ...  1998          10
15795  90000.0    9648    ...  1972          5

[36372 rows x 12 columns]

In [325]:
x_tr

          budget  genres  ...  release_year  release_month
41712  0.0        18      ...  2016          3
25646  8500000.0  10751   ...  2014          12
29596  0.0        36      ...  2014          10
4526   0.0        18      ...  1989          8
41710  0.0        10749   ...  2015          1
...    ...          ...   ...   ...         ..
11284  0.0        18      ...  1983          1
44732  0.0        16      ...  1916          10
38158  0.0        53      ...  1974          3
860    0.0        18      ...  1998          10
15795  90000.0    9648    ...  1972          5

[36372 rows x 12 columns]

In [326]:
y_tr

41712    Mediano
25646    Mediano
29596    Bom
4526     Bom
41710    Muito Bom
           ...
11284    Bom
44732    Muito Ruim
38158    Muito Ruim
860      Bom
15795    Mediano
Name: vote_average, Length: 36372, dtype: object

In [327]:
dtc = DecisionTreeClassifier()
dtc
dtc.fit(x_tr, y_tr)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [328]:
y_pred = dtc.predict(x_te)
accuracy_score(y_te, y_pred)

0.5390367275126458